@import url("./Global.css");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.section {
  top: 80px;
}

.featured,
.team,
.sign-in {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 7rem;
  color: var(--first);
}

@media only screen and (max-width: 960px) {
  .featured,
  .team {
    font-size: 4.5rem;
  }
}

::-webkit-scrollbar {
  width: 5px;
  z-index: 0;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
