* {
  --fontPrimary: #040239;
  --first: #575988;
  --second: #07043b;
  --third: #f9f8fe;
  --anchor: #44a494;
  --anchorHover: #7dd5c6;
  --buttonColor: #3065f9;
  --buttonHover: #6a9afe;
  --fontH1: 2.75rem;
  --fontP: 1.2rem;
}
